.click-image {
    height: 100px;
    width: 100px;
}
.click-image .click-image-content{
    border-radius: 50%;
    height: 90%;
    width: 90%;
    display: block;
    margin: auto;
}

.click-image .click-image-content:hover{
    height: 80%;
    width: 80%;
    cursor: pointer;
    border:3px solid lightblue;
}